*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
/* sidebar */
.sidebar-container{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.logo{
    width: 100px;
    padding: 10px 0px 0px 10px
}
.sidebar-center-section{
    display: flex;
    flex-shrink: 0;
}
.center-section-buttons, .right-section-buttons{
    border: 0px solid black;
    padding: 5px 8px;
    border-radius: 100vh;
    margin-right: 5px;
    text-decoration: none;
    background-color: rgb(252, 134, 154);
    color: white;
    font-weight: 500;
    font-size: 19px;
}
.center-section-buttons:hover, .li-hamburger-menu:hover{
    background-color: rgb(250, 62, 94);
}
.center-section-buttons:active, .li-hamburger-menu:active{
    background-color: rgb(255, 21, 60);
}

/* Hamburher menu */
.right-section-hamburgermenu{
    width: 35px;
    padding: 10px 20px 0px 10px;
    display: none;
    cursor: pointer;
}
.hamburger-menu-container{
    padding-top: 84px;
}
.li-hamburger-menu{
    padding: 10px;
    background-color: rgb(252, 134, 154);
    color: white;
    font-weight: 500;
    font-size: 19px;
    }
 .hamburger-menu{
    opacity: 0;
    transition: opacity 1s;
 }   
.hamb-menu-opacity-1{
    opacity: 1;
    transition: opacity 1s;
}
/* Media */
@media all and (max-width: 950px){
    .right-section-buttons{
        display: none;
    }
    .sidebar-center-section{
        display: none;
    }
    .right-section-hamburgermenu{
       display: flex;
    }
}