*{
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.all, .staffContent, .staffInformation
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.title{
    font-size: 3rem;
}
.underBorder{
    border-bottom: 3px rgb(0, 119, 255) solid;
    margin: 5px 50px;
}
.staffContent{
border: 0;
margin-top: 25px;
padding: 15px 10px;
border-radius: 10px;
box-shadow: 8px 4px 24px 0px rgba(0, 0, 0, 0.322);
}

.staffInformation{
margin-top: 15px;
padding-bottom: 15px;
}

.imgBox{
    position: relative;
}

.profilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 100vh;
    box-shadow: 15px -5px rgb(0, 119, 255);
}

.quotesBorder{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 119, 255);
    width: 50px;
    height: 50px;
    border-radius: 100vh;
}
.profileQuotes{
    background-color: rgb(0, 119, 255);
    width: 30px;
}
.currentPosition{
    color: rgb(0, 119, 255);
}
.staffDiscription{
    font-size: 20px;
    text-align: center;
    width: 700px
}
.switchContent{
    display: flex;
    column-gap: 25px;
    padding: 5px;
    font-size: 30px;
    color:  rgb(0, 119, 255);
}
.previousButton, .NextButton{
    cursor: pointer;
}
.surpriseMe{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(0, 119, 255);;
    color:  rgb(0, 119, 255);
    background-color: rgba(0, 119, 255, 0.151);;
}